<a href="{{url}}" title="{{name}}" aria-label="{{name}}" class="row center-xs middle-xs all-resources {{class}}">
  {{t "All Resources"}}
  <img class="go-icon"
    src="{{asset 'images/go.svg'}}"
    alt="all-resources-go"
  />
</a>