
<div class="rolling-banner-post-item">
  <img
    class="rolling-banner-post-item__feature-image"
    src="{{img_url banner_post.feature_image size="l"}}"
    alt="{{banner_post.title}}"
  />

  <a class="rolling-banner-post-item__overlay" href="{{post.url}}" title="{{banner_post.title}}" aria-label="{{banner_post.title}}"></a>

  <div class="rolling-banner-post-item__content">
    <div class="rolling-banner-post-item__header">
      {{#post}}
        {{#if tags}}
          {{#foreach tags}}
            <a
              class="tag-{{slug}} rolling-banner-post-item__tag"
              href="{{url}}" 
              title="{{name}}"
              aria-label="{{name}}s"
            >
              {{#locale_string name}}
                {{display}}
              {{/locale_string}}
            </a>
          {{/foreach}}
        {{/if}}
      {{/post}}
    </div>

    <a href="{{post.url}}" title="{{banner_post.title}}" aria-label="{{banner_post.title}}">
      <h2 class="rolling-banner-post-item__title">{{banner_post.title}}</h2>
    </a>

    <div class="rolling-banner-post-item__details">
      {{#post}}
        <div class="rolling-banner-post-item__authors is-flex {{#has author="count:>1"}}multi {{count}}{{/has}}">
          {{#foreach authors}}
            <div class="rolling-banner-post-item__author {{@number}}">
              {{#if profile_image}}
                <a href="{{url}}" class="rolling-banner-post-item__author-image" aria-label="{{name}}">
                  <img 
                    class="lazyload" 
                    data-src="{{img_url profile_image size="xs"}}" 
                    alt="{{name}}" 
                    src="{{img_url profile_image size="xxs"}}" 
                  />
                </a>
              {{else}}
                <a href="{{url}}" class="rolling-banner-post-item__author-icon" aria-label="{{name}}">
                  {{>icon name="user" size=""}}
                </a>
              {{/if}}
            </div>
          {{/foreach}}
        </div>

        <div class="rolling-banner-post-item__info">
          <div class="rolling-banner-post-item__author-names">
            {{#authors separator=", "}}{{/authors}}
          </div>

          <time datetime="{{date format='YYYY-MM-DD'}}" class="rolling-banner-post-item__date">
            {{date published_at timeago=""}}
          </time>
        </div>
      {{/post}}
    </div>
  </div>
</div>
