
<div class="rolling-banner-image-item">
  <a href="{{#locale_string banner_post.excerpt}}{{display}}{{/locale_string}}" title="{{banner_post.title}}" aria-label="{{banner_post.title}}" target="_blank">
    <img
      class="rolling-banner-image-item__feature-image"
      src="{{img_url banner_post.feature_image size="l"}}"
      alt="{{banner_post.title}}"
    />
  </a>
</div>
